@use '../utils' as *;

body {
  background-color: var(--clr-cream);
  display: grid;
  place-content: start;
  min-height: 100vh;
  position: relative;

  @include breakpoints('sm') {
    place-content: center;
  }
}
