@forward 'reset';
@forward 'colors';
@forward 'base';
@forward 'fonts';

// Attribution styles
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
