@forward 'reset';
@forward 'colors';
@forward 'base';
@forward 'fonts';

// Attribution styles
.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
